/* Hero-section */
.hero-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 24px;
  height: 100vh;
  background-color: #000000;
  @media (min-aspect-ratio: 16/10) and (max-width: 1023px) {
    height: unset;
    min-height: unset;
  }
  @media (min-width: $md6) {
    padding-bottom: 40px;
  }
  @media (min-width: $md4) {
    padding-bottom: 80px;
  }
  @media (min-width: $md2) {
    padding-top: 80px;
  }
  @media (min-width: $md1) {
    padding-bottom: 120px;
    min-height: 768px;
  }
  @media (max-width: 500px) and (min-height: $md4) {
    padding-bottom: 80px;
  }

  &--solution-page {
    min-height: 550px;
    @media (min-width: $md7) and (orientation: portrait) {
      min-height: 580px;
    }
    @media (min-width: $md5) and (orientation: portrait) {
      min-height: 635px;
    }
  }
  &--bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &--bg-sed {
    background-color: #351299;
  }
  &--bg-ag {
    background-color: #e74926;
  }
  &--bg-gbo {
    background-color: #005a8c;
  }
  &--bg-taxir {
    background-color: #ffa800;
  }
  &--bg-reserve {
    background-color: #00a743;
  }
  &--bg-transport {
    background-color: #00978e;
  }
  &--bg-contacts {
    background-image: url('../img/bg-contacts.jpg');
    background-image: image-set('../img/bg-contacts.webp' type('image/webp'));
  }
  &--bg-integrating {
    background-image: url('../img/bg-integrating-2.jpg');
    background-image: image-set('../img/bg-integrating-2.webp' type('image/webp'));
  }
  &--bg-solutions-img {
    background-image: url('../img/hero-img-6.jpg');
    background-image: image-set('../img/hero-img-6.webp' type('image/webp'));
  }

  /* Сетка не используется на данный момент */
  // .bg--cross-grid::before {
  //   top: 154px;
  //   right: 14px;
  // }

  // .hero-section__slider
  &__slider {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 15s linear;
      }
    }
    .swiper-slide-active {
      img {
        transform: scale(1.3);
      }
    }
  }

  // .hero-section__slider-inner
  //нужно, чтобы изображения не вылазили за границы блока
  &__slider-inner {
    height: 100%;
    //не ставить max-h
  }

  // .hero-section__content
  &__content {
    z-index: 3;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    position: relative;
    width: 100%;
    &--bg {
      &::before {
        content: '';
        position: absolute;
        top: 10%;
        right: 50%;
        width: calc(100% - 32px);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 225px;
        width: 320px;
        opacity: 0.5;
        transform: translate(50%, -10%);
        @media (max-width: 767px) and (min-aspect-ratio: 16/10) {
          display: none;
        }
        @media (max-width: 980px) and (min-aspect-ratio: 16/9) {
          opacity: 0.2;
        }
        @media (min-width: $md4) and (orientation: landscape) and (min-aspect-ratio: 16/13) {
          top: 5%;
          right: -20%;
          transform: translateX(-20%);
        }
        @media (min-width: $md7) {
          width: 343px;
          height: 295px;
        }
        @media (min-width: $md5) {
          width: 400px;
          height: 300px;
        }
        @media (min-width: $md4) {
          width: 600px;
          height: 450px;
        }
      }
    }
    &--bg-ag {
      &::before {
        background-image: url(../img/solutions-ag.svg);
        background-position: top 0 right -20px;
      }
    }
    &--bg-taxir {
      &::before {
        background-image: url(../img/solutions-taxi.svg);
      }
    }
    &--bg-sed {
      &::before {
        background-image: url(../img/solutions-sheet.svg);
        height: 305px;
        @media (min-width: $md7) {
          height: 360px;
        }
        @media (min-width: $md6) {
          height: 500px;
        }
        @media (min-width: $md5) {
          width: 460px;
          height: 550px;
        }
        @media (min-width: $md4) {
          width: 550px;
          height: 600px;
        }
        @media (min-width: $md1) {
          width: 600px;
          height: 650px;
        }
      }
    }
    &--bg-reserve {
      &::before {
        background-image: url(../img/map.png);
      }
    }
  }

  // .hero-section__text-wrapper
  &__text-wrapper {
    position: relative;
    margin-bottom: 24px;
    @media (min-width: $md7) {
      margin-bottom: 30px;
    }
    @media (min-width: $md5) {
      margin-bottom: 36px;
    }
    @media (min-width: $md4) {
      margin-bottom: 54px;
    }
    @media (min-width: $md1) {
      margin-bottom: 64px;
    }
  }

  // .hero-section__text
  &__text {
    font-size: 14px;
    color: $white;
    line-height: 1.5;
    max-width: 65%;
    margin-bottom: 10px;
    a {
      color: inherit;
    }
    @media (min-width: $md7) {
      font-size: 18px;
      margin-bottom: 15px;
    }
    @media (min-width: $md5) {
      font-size: 20px;
    }
    @media (min-width: $md3) {
      font-size: 22px;
      max-width: 390px;
    }
    @media (min-width: $md2) {
      a {
        &:hover {
          text-decoration: underline;
        }
        &:focus-visible {
          outline: 3px solid $accent;
        }
      }
    }
    @media (min-width: $md1) {
      font-size: 24px;
      max-width: 450px;
    }
  }

  // .hero-section__title
  &__title {
    font-size: 38px;
    font-weight: 700;
    color: $white;
    @media (min-width: $md7) {
      font-size: 42px;
    }
    @media (min-width: $md6) {
      font-size: 46px;
    }
    @media (min-width: $md5) {
      font-size: 54px;
      max-width: 400px;
    }
    @media (min-width: $md4) {
      font-size: 64px;
      max-width: 535px;
    }
    @media (min-width: $md2) {
      line-height: 1;
      max-width: 635px;
    }
    @media (min-width: $md1) {
      font-size: 88px;
      max-width: 950px;
      line-height: 94px;
    }
  }

  // .hero-section__btn-wrapper
  &__btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: -8px;
    margin-bottom: -8px;
    @media (min-width: $md4) {
      margin-left: -8px;
      margin-right: -8px;
      flex-wrap: nowrap;
    }
    @media (min-width: $md1) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  // .hero-section__btn
  &__btn {
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 8px;
    @media (min-width: $md4) {
      margin-left: 8px;
      margin-right: 8px;
    }
    @media (min-width: $md3) {
      width: auto;
      min-width: 126px;
    }
    @media (min-width: $md1) {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 16px;
      height: 80px;
      text-transform: initial;
      min-width: 151px;
    }
  }

  // .hero-section__tip
  &__tip {
    display: none;
    position: absolute;
    @media (min-width: $md4) {
      display: grid;
      grid-auto-flow: column;
      column-gap: 16px;
      justify-content: center;
      align-items: center;
      right: 32px;
      bottom: 120px;
    }
    @media (min-width: $md3) {
      bottom: 0;
    }
  }

  // .hero-section__contacts
  &__contacts {
    margin-top: 24px;
    @media (min-width: $md5) {
      display: flex;
      margin-left: -8px;
      margin-right: -8px;
    }
    @media (min-width: $md4) {
      margin-top: 46px;
    }
    @media (min-width: $md3) {
      margin-left: -20px;
      margin-right: -20px;
    }
    @media (min-width: $md2) {
      margin-top: 48px;
    }
    @media (min-width: $md1) {
      margin-top: 55px;
      margin-left: -40px;
      margin-right: -40px;
    }
  }

  // .hero-section__contacts-item
  &__contacts-item {
    margin-left: 8px;
    margin-right: 8px;
    @media (min-width: $md5) {
      flex-basis: 50%;
    }
    @media (min-width: $md3) {
      flex-basis: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
    @media (min-width: $md1) {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}
