//<BUTTONS (a.btn+tab)>====================================================================================================
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0px 0px;
  transition: all 0.1s ease 0s;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 80%;
    background-color: $white;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
    @media (max-width: $md2+px) {
      width: 90%;
    }
  }
  &--xs {
    padding: 16px 24px;
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
  }
  &--md {
    padding: 24px 32px;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
  }
  &--lg {
    padding: 32px 40px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
  }
  &--bg-brand {
    color: $white;
    background-color: $brand;
    &:hover {
      background-color: darken($brand, 10%);
    }
  }
  &--bg-white {
    color: $brand;
    background-color: $white;
    &::after {
      background-color: $brand;
    }
    &:hover {
      background-color: transparentize($white, 0.1);
    }
  }
  &--bg-transparent {
    color: $white;
    background-color: transparent;
    // border: 1px solid $white;
    outline: 1px solid $white;
    outline-offset: -1px;
    &:hover {
      // color: darken($white, 10%);
      outline-color: darken($white, 10%);
    }
  }
  &--border-brand {
    border: 1px solid $brand;
  }
}
//========================================================================================================================================================
.twin-button-wrapper {
  display: flex;
}
.twin-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  border: 1px solid $brand;
  cursor: pointer;
  user-select: none;
  &:first-child {
    border-right: 1px solid transparent;
  }
  span {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 1px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $brand;
    }
    &::before {
      top: -5px;
      transform: rotate(45deg);
    }
    &::after {
      top: 5px;
      transform: rotate(-45deg);
    }
  }
  &--prev {
    span {
      transform: rotate(180deg);
    }
  }
}
.swiper-button-disabled > span {
  &::before,
  &::after {
    background-color: lightgrey;
  }
}
