.hero-section {
  padding-top: 60px;
  padding-bottom: 24px;
  min-height: 340px;
  height: 100vh;
  background-color: $brand;
  @media (min-width: $md6+px) {
    padding-bottom: 40px;
  }
  @media (min-width: $md4+px) {
    padding-bottom: 80px;
  }
  @media (min-width: $md2+px) {
    padding-top: 80px;
  }
  @media (min-width: $md1+px) {
    padding-bottom: 120px;
  }
  @media (max-width: 500px) and (min-height: $md4+px) {
    padding-bottom: 80px;
  }

  &--bg {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  &--bg-img-1 {
    background-image: url('../img/hero-img-5.jpg');
  }
  &--bg-sed {
    background-color: #351299;
  }
  &--bg-contacts {
    background-image: url('../img/bg-contacts.jpg');
  }
  &--bg-integrating {
    background-image: url('../img/bg-integrating.jpg');
  }
  .bg--cross-grid::before {
    top: 154px;
    right: 14px;
  }
  // .hero-section__content
  &__content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    position: relative;
    width: 100%;
    @media (min-width: $md3+px) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      align-content: flex-end;
    }
    &--solution {
      @media (min-width: $md4+px) {
        max-width: 624px;
        margin-left: auto;
        margin-right: auto;
      }
      @media (min-width: $md1+px) {
        max-width: 950px;
      }
    }
  }
  // .hero-section__text-wrapper
  &__text-wrapper {
    position: relative;
    margin-bottom: 24px;
    @media (min-width: $md7+px) {
      margin-bottom: 30px;
    }
    // @media (min-width: $md6+px) {
    //   max-width: 340px;
    // }
    @media (min-width: $md5+px) {
      // max-width: 400px;
      margin-bottom: 36px;
    }
    @media (min-width: $md4+px) {
      // max-width: 480px;
      margin-bottom: 54px;
    }
    @media (min-width: $md3+px) {
      flex-basis: 100%;
    }
    @media (min-width: $md2+px) {
      // max-width: 510px;
    }
    @media (min-width: $md1+px) {
      // max-width: 580px;
      margin-bottom: 64px;
    }
    &--bg {
      &::before {
        position: absolute;
        // bottom: 15px;
        bottom: 100%;
        // bottom: 50px;
        // left: 0;
        right: 0;
        width: 100%;
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 225px;
        opacity: 0.5;
        @media (min-width: $md7+px) {
          height: 295px;
          // height: 340px;
          // height: 410px;
          // bottom: 25px;
          // margin-bottom: 15px;
        }
        // @media (min-width: $md6+px) {
        //   // width: 400px;
        //   height: 485px;
        // }
        @media (min-width: $md4+px) {
          // width: 530px;
          height: 645px;
        }
        @media (min-width: $md3+px) {
          height: 490px;
          right: -50%;
          bottom: -30px;
        }
        @media (min-width: $md1+px) {
          height: 600px;
          bottom: -100px;
        }
        @media (min-width: 1920px) {
          height: 640px;
        }
        @media (max-width: 500px) and (min-height: $md4+px) {
          height: 410px;
        }
        @media (max-height: 560px) {
          display: none;
        }
        // @media (min-width: $md3+px) {
        //   flex-basis: 50%;
        //   order: 2;
        //   // width: 400px;
        //   height: 485px;
        // }
        // @media (min-width: $md1+px) {
        //   // width: 460px;
        //   height: 555px;
        // }
        // @media (min-width: 1920px) {
        //   // width: 560px;
        //   height: 680px;
        // }
      }
    }
    &--bg-sheets {
      &::before {
        background-image: url(../img/solutions-sheet.svg);
      }
    }
    &--bg-taxi {
      &::before {
        background-image: url(../img/solutions-taxi.svg);
      }
    }
    &--bg-ag {
      &::before {
        background-image: url(../img/solutions-ag.svg);
      }
    }
    &--bg-map {
      &::before {
        background-image: url(../img/map.png);
      }
    }
  }
  // .hero-section__text
  &__text {
    font-size: 12px;
    color: $white;
    line-height: 1.5;
    max-width: 65%;
    margin-bottom: 10px;
    @media (min-width: $md7+px) {
      font-size: 14px;
      margin-bottom: 15px;
    }
    @media (min-width: $md5+px) {
      font-size: 16px;
    }
    @media (min-width: $md3+px) {
      font-size: 18px;
      max-width: 390px;
    }
    @media (min-width: $md1+px) {
      font-size: 24px;
      max-width: 450px;
    }
  }
  // .hero-section__title
  &__title {
    font-size: 24px;
    font-weight: 700;
    color: $white;
    @media (min-width: $md7+px) {
      font-size: 30px;
    }
    @media (min-width: $md6+px) {
      font-size: 38px;
      //  max-width: 100%;
    }
    @media (min-width: $md5+px) {
      font-size: 40px;
      max-width: 400px;
    }
    @media (min-width: $md4+px) {
      font-size: 50px;
      max-width: 535px;
    }
    @media (min-width: $md2+px) {
      font-size: 64px;
      line-height: 1;
      max-width: 635px;
    }
    @media (min-width: $md1+px) {
      font-size: 88px;
      max-width: 950px;
      line-height: 94px;
    }
  }
  // .hero-section__btn-wrapper
  &__btn-wrapper {
    &:last-child {
      margin-bottom: 0;
    }
    position: relative;
    width: 100%; //

    // display: flex;
    // margin: -5px 0;
    margin-bottom: 24px;

    @media (min-width: $md4+px) {
      display: flex;
      // margin: 0 -8px;
      // margin: 0 -20px;
    }
  }
  // .hero-section__btn
  &__btn {
    // margin: 5px 0;
    // width: 50%;
    // height: 56px;
    // flex-basis: 50%;
    // flex: 1 1 50%;
    font-size: 12px;
    @media (min-width: $md4 + px) {
      // margin: 0 20px;
      width: 50%;
      // margin: 0 8px;
      font-size: 16px;
      // flex-basis: 50%;
    }
    @media (min-width: $md3+px) {
      min-width: 190px;
      height: 80px;
      // width: auto;
    }
    @media (min-width: $md1+px) {
      min-width: 220px;
    }

    // @media (max-width: 1024px) {

    //   font-size: 12px;
    //   font-weight: 700;
    //   text-transform: uppercase;
    // }
    // @media (max-width: 768px) {
    //   width: 100%;
    // }
  }
  // .hero-section__grid
  &__grid {
  }
  // .hero-section__tip
  &__tip {
    display: none;
    position: absolute;
    right: 106px;
    bottom: 0;
    color: $white;
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    @media (min-width: $md4+px) {
      display: flex;
      align-items: center;
      right: 0;
      bottom: 100px;
    }
    @media (min-width: $md3+px) {
      // right: 46px;
      bottom: 0;
    }
    // @media (max-width: 1024px) {
    //   right: 46px;
    // }
    // @media (max-width: 768px) {
    //   right: 0;
    //   bottom: 100px;
    // }
    // @media (max-width: 600px) {
    //   display: none;
    // }
  }
  &__contacts {
    // width: 100%;
    // display: flex;
  }
  &__item {
    // flex: 1 1 50%;
    // padding: 0 16px;
    margin: 0 0 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.adress {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  color: $white;
  @media (min-width: $md4+px) {
    font-size: 16px;
  }
  @media (min-width: $md1+px) {
    font-size: 24px;
  }
}
.requisites {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  @media (min-width: $md4+px) {
    font-size: 16px;
  }
  @media (min-width: $md1+px) {
    font-size: 24px;
  }
  a {
    color: $white;
    &:hover,
    &:focus {
      color: darken($white, 30%);
    }
  }
}
