//<МИКСИНЫ>===============================================================================================
@import 'mixins';
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,700&display=swap&subset=cyrillic-ext);
@import 'fonts';
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Inter';
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1440;
// $md1: $maxWidthContainer + 12;
// $md1: 1399.98;
// $md2: 1023.98;
// $md3: 991.98;
// $md4: 767.98;
// $md5: 575.98;
// $md6: 479.98;
// $md7: 374.98;

$md1: 1400;
$md2: 1024;
$md3: 992;
$md4: 768;
$md5: 576;
$md6: 480;
$md7: 375;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import 'null';
body {
  color: $mainColor;
  &._lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: 1500px) {
    margin-left: 32px;
    margin-right: 32px;
  }
  @media (max-width: $md1+px) {
    // max-width: 970px;
    // padding-left: 20px;
    // padding-right: 20px;
  }
  @media (max-width: $md2+px) {
    // max-width: 750px;
  }
  @media (max-width: $md3+px) {
    // max-width: none;
    // padding: 0 10px;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import 'animations';
@import 'vars';
@import 'forms';
// @import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
// @import "popup";
@import 'header';
@import 'footer';
@import 'home';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
  // .page__history
  &__history {
    height: 100vh;
  }
  // .page__sertification
  &__sertification {
    padding-top: 118px;
    padding-bottom: 64px;
  }
}
//========================================================================================================================================================
.hero-section {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  min-height: 380px;
  height: 100vh;
  background-image: url('../img/hero-img-5.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding-bottom: 24px;
  @media (min-width: $md1+px) {
    padding-bottom: 120px;
  }
  @media (min-width: $md2+px) {
    min-height: 768px;
  }
  @media (min-width: $md4+px) {
    min-height: 610px;
    padding-bottom: 80px;
  }
  @media (min-width: $md6+px) {
    min-height: 400px;
    padding-bottom: 40px;
  }
  .bg--cross-grid::before {
    top: 154px;
    right: 14px;
  }
  // .hero-section__inner
  &__inner {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  // .hero-section__title
  &__title {
    max-width: 950px;
    font-size: 88px;
    font-weight: 700;
    line-height: 94px;
    color: $white;
    margin-left: 0;
    margin-bottom: 64px;
    @media (max-width: 1024px) {
      font-size: 64px;
      line-height: 1;
      max-width: 635px;
    }
    @media (max-width: 768px) {
      font-size: 50px;
      max-width: 535px;
      margin-bottom: 54px;
    }
    @media (max-width: 600px) {
      font-size: 40px;
      max-width: 400px;
      margin-bottom: 36px;
    }
    @media (max-width: 460px) {
      font-size: 38px;
      max-width: 100%;
    }
    @media (max-width: 375px) {
      font-size: 30px;
    }
  }
  // .hero-section__btn-wrapper
  &__btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }
  // .hero-section__btn
  &__btn {
    margin: 0 20px;
    @media (max-width: 1024px) {
      height: 56px;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  // .hero-section__grid
  &__grid {
  }
  // .hero-section__tip
  &__tip {
    position: absolute;
    right: 106px;
    bottom: 0;
    color: $white;
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    @media (max-width: 1024px) {
      right: 46px;
    }
    @media (max-width: 768px) {
      right: 0;
      bottom: 100px;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
}
//========================================================================================================================================================
.tip {
  display: flex;
  align-items: center;
  // .tip__image
  &__image {
  }
  // .tip__text
  &__text {
    margin: 0px 0px 0px 16px;
  }
}
//========================================================================================================================================================
.offer-block {
  position: relative;

  // .offer-block__title
  &__title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    color: $white;
    margin-bottom: 30px;
    // @media (max-width: $md2+px) {
    //   font-size: 32px;
    //   line-height: 1.25;
    // }
    @media (max-width: $md4+px) {
      max-width: 470px;
      margin-bottom: 38px;
    }
    @media (max-width: $md7+px) {
      font-size: 25px;
      line-height: 1.2;
    }
  }
  // .offer-block__text-wrapper
  &__text-wrapper {
    display: flex;
    flex-direction: column;
  }
  // .offer-block__text
  &__text {
    font-size: 16px;
    line-height: 2;
    font-weight: 300;
    color: darken($white, 30%);
    margin-bottom: 54px;
    @media (max-width: $md2+px) {
      line-height: 1.5;
      margin-bottom: 42px;
    }
    @media (max-width: $md4+px) {
      max-width: 470px;
      margin-bottom: 30px;
    }
    @media (max-width: $md7+px) {
      display: none;
    }
  }
} //!на уд.
//========================================================================================================================================================
.philosophy-section {
  position: relative;
  background: url('../img/philosophy-bg.jpg') 0 0 / cover no-repeat;
  // // .philosophy__bg-container
  // &__bg-container {
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: -1;
  //   background-color: #000;
  // }
  // // .philosophy__bg
  // &__bg {
  //   background: url('../img/philosophy-bg.jpg') 0 0 / cover no-repeat;
  //   width: 100%;
  //   height: 100%;
  //   // animation: scale 20s linear 1 forwards;
  // }
  // .philosophy__content
  &__content {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 104px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 40px;
    @media (min-width: $md4+px) {
      padding-top: 96px;
      padding-bottom: 56px;
    }
    @media (min-width: $md1+px) {
      padding-top: 118px;
      padding-bottom: 160px;
    }
  }
  // .philosophy__info
  &__info {
    margin-bottom: 24px;
    @media (min-width: $md4+px) {
      margin-bottom: 40px;
    }
    @media (min-width: $md1+px) {
      margin-bottom: 85px;
    }
  }
  // .philosophy__note
  &__note {
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    color: $white;
    margin-bottom: 18px;
    @media (min-width: $md1+px) {
      font-size: 16px;
      line-height: 1.5;
    }
  }
  // .philosophy__title
  &__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: $white;
    @media (min-width: $md4+px) {
      font-size: 32px;
    }
    @media (min-width: $md2+px) {
      max-width: 720px;
    }
    @media (min-width: $md1+px) {
      font-size: 48px;
      max-width: 1070px;
    }
  }
  // .philosophy__nav
  &__nav {
  }
}
//========================================================================================================================================================
.nav-philosophy {
  // .nav-philosophy__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -5px;
    margin-bottom: -5px;
    @media (min-width: $md5+px) {
      margin-right: -5px;
      margin-left: -5px;
    }
    @media (min-width: $md4+px) {
      margin-top: -8px;
      margin-right: -8px;
      margin-bottom: -8px;
      margin-left: -8px;
    }
    @media (min-width: $md1+px) {
      margin-top: -20px;
      margin-right: -20px;
      margin-bottom: -20px;
      margin-left: -20px;
    }
  }
  // .nav-philosophy__item
  &__item {
    flex-basis: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 24px;
    height: 230px;
    outline: 1px solid darken($white, 80%);
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url(../img/grid.svg);
      background-repeat: repeat;
      background-position: 0 0;
      background-color: #1e468a;
      background-size: 40px;
      transition: opacity 0.3s ease;
      z-index: -1;
      opacity: 0;
    }
    &.active::after {
      opacity: 1;
    }
    @media (min-width: $md5+px) {
      flex-basis: calc(50% - 10px);
      margin-right: 5px;
      margin-left: 5px;
    }
    @media (min-width: $md4+px) {
      flex-basis: calc(33.33% - 16px);
      height: 232px;
      margin-top: 8px;
      margin-right: 8px;
      margin-bottom: 8px;
      margin-left: 8px;
    }
    @media (min-width: $md2+px) {
      flex-basis: calc(25% - 16px);
    }
    @media (min-width: $md1+px) {
      height: 328px;
      flex-basis: calc(25% - 40px);
      margin-top: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }
  &__item.active .nav-philosophy__text-wrapper {
    transform: translateY(0%);
  }
  &__item.active .nav-philosophy__text {
    display: block;
  }
  &__item.active .nav-philosophy__button {
    span {
      width: 20px;
      &::before {
        transform: translate(0px, 3px) rotate(-135deg);
      }
      &::after {
        transform: translate(0px, -3px) rotate(135deg);
      }
    }
  }
  // .nav-philosophy__button-wrapper
  &__button-wrapper {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }
  // .nav-philosophy__button
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    // align-self: flex-start;
    width: 32px;
    height: 32px;
    border: 1px solid $white;
    cursor: pointer;
    user-select: none; //?узнать
    span {
      position: relative;
      display: inline-block;
      width: 10px;
      height: 0;
      transition: width 0.3s linear;
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: $white;
        transform-origin: 50% 50%;
      }
      &::before {
        top: -3px;
        transform: rotate(45deg);
        transition: transform 0.3s linear;
      }
      &::after {
        top: 3px;
        transform: rotate(-45deg);
        transition: transform 0.3s linear;
      }
    }
  }
  // .nav-philosophy__text-wrapper
  &__text-wrapper {
    transform: translateY(10%);
    align-self: flex-end;
    transition: all 0.3s linear;
  }
  // .nav-philosophy__title
  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    // margin-top: auto;
    color: $white;
  }
  // .nav-philosophy__text
  &__text {
    display: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: darken($white, 30%);
  }
}
//========================================================================================================================================================
.mission-section {
  // .mission__content
  &__content {
    // display: flex;
    padding-top: 36px;
    padding-bottom: 70px;
    @media (min-width: $md4+px) {
      padding-top: 48px;
      padding-bottom: 48px;
    }
    @media (min-width: $md2+px) {
      display: flex;
      padding-top: 64px;
      padding-bottom: 64px;
      max-width: 1000px;
    }
    @media (min-width: $md1+px) {
      max-width: 1200px;
      padding-top: 104px;
      padding-bottom: 104px;
    }
  }
  // .mission-section__text-wrapper
  &__text-wrapper {
    margin-bottom: 36px;
    @media (min-width: $md4+px) {
      margin-bottom: 46px;
    }
    @media (min-width: $md2+px) {
      max-width: 400px;
      margin-right: 30px;
      margin-bottom: 0;
    }
    @media (min-width: $md1+px) {
      margin-right: 125px;
      max-width: 600px;
    }
  }
  // .mission__title
  &__title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 34px;
    @media (min-width: $md7+px) {
      font-size: 25px;
    }
    @media (min-width: $md4+px) {
      font-size: 32px;
      line-height: 1.25;
    }
    @media (min-width: $md2+px) {
      margin-bottom: 48px;
    }
  }
  // .mission__btn-wrapper
  &__btn-wrapper {
    text-transform: uppercase;
  }
  // .mission__btn
  &__btn {
    width: 100%;
    @media (min-width: $md2+px) {
      max-width: 140px;
    }
  }
  // .mission__review
  &__review {
    @media (min-width: $md2+px) {
      max-width: 400px;
      margin-left: 30px;
    }
    @media (min-width: $md1+px) {
      margin-left: 125px;
      max-width: 420px;
    }
  }
}
//========================================================================================================================================================
.review-block {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: flex-start;
  // .review-block__text
  &__text {
    // flex: 0 1 100%;
    position: relative;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: lighten($black, 30%);
    margin-bottom: 34px;
    padding-left: 16px;
    padding-right: 16px;
    &::before,
    &::after {
      color: $black;
      // font-size: 16px;
    }
    &::before {
      content: '<';
      position: absolute;
      top: 0;
      left: 0;
    }
    &::after {
      content: '/>';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    @media (min-width: $md7+px) {
      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (min-width: $md4+px) {
      margin-bottom: 26px;
    }
  }
  // .review-block__autor
  &__autor {
    align-items: center;
  }
}
//========================================================================================================================================================
.autor-block {
  display: flex;

  // .autor-block__img
  &__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 24px;
  }
  // .autor-block__autor-info
  &__autor-info {
    display: flex;
    flex-wrap: wrap;
  }
  // .autor-block__name
  &__name {
    flex: 0 0 100%;
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 2;
    white-space: nowrap;
  }
  // .autor-block__position
  &__position {
    flex: 0 0 100%;
    font-size: 12px;
    line-height: 1.33;
    color: lighten($black, 50%);
  }
}
//========================================================================================================================================================
.history-section {
  // position: relative;

  // .history-section__slider
  &__slider {
    position: relative;
  }
}
.slider-history {
  height: 100vh;
  overflow: hidden;
  position: relative;
  // .slider-history__static-block
  &__static-block {
    // display: none !important;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 20px;
    @media (min-width: $md2+px) {
      padding-bottom: 58px;
    }
    @media (min-width: $md2+px) {
      // padding-bottom: 170px;
    }
    @media (min-width: $md1+px) {
      // padding-bottom: 190px;
    }
  }

  // .slider-history__date-block
  &__date-block {
    position: absolute;
    // z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-height: 520px) {
      left: 75%;
      top: 45%;
    }
    @media (min-width: $md2+px) {
      top: 15%;
      transform: translate(-50%, 0);
    }
  }
  // .slider-history__heading
  &__heading {
    // flex: 0 0 100%;
    // align-self: center;
    position: relative;
    // z-index: 2;
    font-size: 80px;
    font-weight: 700;
    color: $white;
    z-index: 2;
    // margin-bottom: 46px;
    @media (max-height: 520px) {
      font-size: 80px;
    }
    @media (min-width: $md7+px) {
      font-size: 127px;
    }
    @media (min-width: $md5+px) {
      font-size: 200px;
    }
    @media (min-width: $md4+px) {
      font-size: 270px;
    }
    @media (min-width: $md1+px) {
      font-size: 430px;
    }
  }
  // .slider-history__pagination
  &__pagination {
    // flex: 0 0 100%;
    // position: relative;
    position: absolute;
    left: 0;
    bottom: -45px;
    // width: 100%;
    // z-index: 3;
    display: flex;
    // justify-content: space-between;
    align-items: flex-end;
    height: 20px;
    transition: all 0.3s linear;
    counter-reset: year 1991;
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $white;
    }
  }
  // .slider-history__pagination-bullet
  &__pagination-bullet {
    cursor: pointer;
    z-index: 2;
    position: relative;
    width: 4px;
    height: 16px;
    margin-right: 120px;
    background-color: $white;
    //*counter
    &::before {
      content: '';
      position: absolute;
      top: -25px;
      left: 50%;
      counter-increment: year;
      content: counter(year);
      transform: translateX(-50%);
      color: darken($white, 50%);
      font-size: 10px;
      font-weight: 700;
    }
    &-active {
      background-color: rgb(230, 38, 214);
    }
  }
  // .slider-history__btn-wrapper
  &__btn-wrapper {
    // flex: 0 1 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    position: relative;
    // margin: 0 -5px;
    // z-index: 2;
    @media (min-width: $md2+px) {
      justify-content: flex-end;
    }
    @media (min-width: $md1+px) {
      width: 50%;
      justify-content: center;
      margin-right: auto;
    }
  }
  // .slider-history__btn
  &__btn {
    // margin: 0 5px;
    @media (min-width: $md2+px) {
      max-width: 150px;
    }
  }

  .swiper-button-disabled path {
    stroke: lightgray;
  }
  .swiper-button-prev,
  .swiper-button-next {
  }
  .swiper-button-next svg {
    transform: rotate(180deg);
  }

  // .slider-history__slide-wrapper
  &__slide-wrapper {
    position: relative;
    // z-index: 5 !important;
    // width: 100%;
    // height: 100%;
  }
  // .slider-history__slide
  &__slide {
    background-color: $brand; //если картинка не загр. то будет видно белый текст
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    @media (max-height: 520px) {
      flex-direction: row;
    }
    @media (min-width: $md2+px) {
      flex-direction: row;
    }
  }
  // .slider-history__bg-block
  &__bg-block {
    position: relative;
    flex: 0 0 50%;
    display: flex;
    background-size: cover;
    background-position: center;

    &--1 {
      background-image: url(../img/bg-history-1.jpg);
    }
    &--2 {
      background-image: url(../img/bg-history-2.jpg);
    }
    &--3 {
      background-image: url(../img/bg-history-3.jpg);
    }
    @media (min-width: $md2+px) {
      order: 1;
    }
  }
  // .slider-history__text-wrapepr
  &__text-wrapper {
    // background-color: $brand;
    flex: 0 0 50%;
    display: flex;
    // justify-content: flex-end;
    max-height: 50%;
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 20px;
    @media (max-height: 520px) {
      padding-top: 20px;
      padding-bottom: 20px;
      max-height: 65%;
    }
    @media (min-width: $md7+px) {
      padding-top: 52px;
      padding-bottom: 52px;
    }
    @media (min-width: $md5+px) {
      justify-content: flex-end;
      max-height: none;
    }
    @media (min-width: $md4+px) {
      padding-top: 80px;
    }
    @media (min-width: $md2+px) {
      justify-content: center;
      align-items: flex-end;
      order: 2;
    }
  }
  // .slider-history__text
  &__text {
    max-width: 450px;
    font-size: 14px;
    line-height: 1.5;
    color: $white;
    overflow: hidden;
    @media (max-height: 520px) {
      font-size: 12px;
      max-height: 160px;
    }
    @media (max-width: $md7+px) {
      // max-height: 200px;
    }
    @media (min-width: $md7+px) {
      font-size: 16px;
    }
  }
}
//========================================================================================================================================================
.sertification-section {
  // .sertification-section__wrapper
  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
  // .sertification-section__info
  &__info {
  }
  // .sertification-section__note
  &__note {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    color: $brand;
    margin-bottom: 38px;
  }
  // .sertification-section__title
  &__title {
    font-size: 48px;
    line-height: 1.15;
    font-weight: 700;
    color: $black;
    max-width: 1070px;
    margin-bottom: 60px; //?sertification-section__btn-wrapper
  }
  // .sertification-section__slider
  &__slider {
    position: relative;
    // margin: 0 -20px;
  }
  // .sertification-section__slider-wrapper
  &__slider-wrapper {
  }
  // .sertification-section__slide
  &__slide {
    overflow: hidden;
    // margin: 0 20px;
    img {
      display: block;
      max-width: 100%;
      max-height: 468px;
    }
  }
  // sertification-section__btn-wrapper
  &__btn-wrapper {
    position: absolute;
    z-index: 2;
    top: -110px; //?sertification-section__title
    right: 0;
    display: flex;
    justify-content: center;
  }
  // sertification-section__btn
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border: 1px solid $brand;
    cursor: pointer;
    user-select: none; //?узнать
    &:first-child {
      border-right: 1px solid transparent;
    }
    span {
      position: relative;
      display: inline-block;
      width: 15px;
      height: 1px;
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $brand;
      }
      &::before {
        top: -5px;
        transform: rotate(45deg);
      }
      &::after {
        top: 5px;
        transform: rotate(-45deg);
      }
    }
    &--prev {
      span {
        transform: rotate(180deg);
      }
    }
  }
}
//========================================================================================================================================================
//*bg
.bg {
  &::before {
    content: '';
    position: absolute;
    z-index: -2;
  }
  //Представление
  &--grid {
    &::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../img/grid.svg);
      background-repeat: repeat;
      background-position: center top;
      background-size: 40px 40px;
      z-index: -2;
    }
    @media (max-width: $md1+px) {
      &::before {
        background-position: right top;
      }
    }
    @media (max-width: $md2+px) {
      &::before {
        background-size: 30px 30px;
      }
    }
    @media (max-width: $md4+px) {
      &::before {
        background-size: 40px 40px;
      }
    }
    @media (max-width: $md7+px) {
      &::before {
        background-size: 20px 20px;
      }
    }
  }
  &--cross-grid {
    &::before {
      // top: 0;
      top: 155px;
      right: -26px;
      width: 610px;
      height: 690px;
      background-image: url(../img/cross.svg);
      background-repeat: repeat;
      background-position: 0 0;
      background-size: 40px 40px;
      z-index: -1;
    }
    @media (max-width: $md1+px) {
      &::before {
        right: 34px;
      }
    }
    @media (max-width: $md2+px) {
      &::before {
        top: 86px;
        right: 23px;
        width: 460px;
        height: 520px;
        background-size: 30px 30px;
      }
    }
    @media (max-width: $md4+px) {
      &::before {
        top: 115px;
        right: 74px;
        width: 610px;
        height: 690px;
        background-size: 40px 40px;
      }
    }
    @media (max-width: $md7+px) {
      &::before {
        right: 50%;
        width: 305px;
        height: 345px;
        background-size: 20px 20px;
        transform: translateX(50%);
      }
    }
  }
}
.background-block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
  // .background__inner
  &__inner {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }
}

//! Проверь как ведут себя картинки, если они будут больше размером чем сейчас
//img {
//max-width: 100%;
//display:block //если обрезаются снизу (у контейнера ovh)
//}

//========================================================================================================================================================
.solution-slider {
  position: relative;
  z-index: 1;
  background-color: $brand;
  // .solution-slider__wrapper
  &__wrapper {
    // max-width: 1440px;
    // margin: 0 auto;
  }
  // .solution-slider__slide
  &__slide {
  }
  // .solution-slider__content //иначе не ограничивается корректно без доп. контейнера
  &__content {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 100px;
    padding-right: 32px;
    padding-bottom: 140px;
    padding-left: 32px;
    @media (min-width: $md4+px) {
      padding-top: 120px;
    }
    @media (min-width: $md3+px) {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 160px;
    }
    @media (min-width: $md1+px) {
      max-width: calc(1440px + 64px);
      margin: 0 auto;
      padding-bottom: 200px;
    }

    &::before {
      content: '';
      align-self: center;
      // transform: translateY(100px);
      // margin-bottom: 75px;
      background-repeat: no-repeat;
      background-position: center;
      // background-size: cover;
      background-size: contain;
      //* width: 280px;
      width: 100%; //!можно убрать, чтобы вернуться  старому варианту и расском. ширины
      height: 340px;
      @media (min-width: $md6+px) {
        // width: 400px;
        height: 485px;
      }
      @media (min-width: $md4+px) {
        // width: 530px;
        height: 645px;
      }
      @media (min-width: $md3+px) {
        order: 2;
        // width: 400px;
        height: 485px;
      }
      @media (min-width: $md1+px) {
        // width: 460px;
        height: 555px;
      }
      @media (min-width: 1920px) {
        // width: 560px;
        height: 680px;
      }
    }
    &--bg-sheets {
      &::before {
        background-image: url(../img/solutions-sheet.svg);
      }
    }
    &--bg-taxi {
      &::before {
        background-image: url(../img/solutions-taxi.svg);
      }
    }
    &--bg-ag {
      &::before {
        background-image: url(../img/solutions-ag.svg);
      }
    }
    &--bg-map {
      &::before {
        background-image: url(../img/solutions-map.svg);
      }
    }
  }
  // .solution-slider__promo
  &__promo {
    flex-shrink: 0; //!можно убрать, чтобы вернуться  старому варианту
    transform: translateY(-25px);
    @media (min-width: $md7+px) {
      transform: translateY(-30px);
    }
    @media (min-width: $md6+px) {
      transform: translateY(-35px);
    }
    @media (min-width: $md5+px) {
      transform: translateY(-40px);
    }
    @media (min-width: $md4+px) {
      transform: translateY(-45px);
    }
    @media (min-width: $md3+px) {
      transform: none;
      align-self: center;
    }
  }
  // .solution-slider__text-wrapper
  &__text-wrapper {
    margin-bottom: 24px;
    @media (min-width: $md6+px) {
      max-width: 340px;
    }
    @media (min-width: $md5+px) {
      max-width: 400px;
    }
    @media (min-width: $md4+px) {
      max-width: 480px;
    }
    @media (min-width: $md2+px) {
      max-width: 510px;
    }
    @media (min-width: $md1+px) {
      max-width: 580px;
    }
  }
  // .solution-slider__title
  &__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 1.2;
    color: $white;
    @media (min-width: $md7+px) {
      font-size: 25px;
    }
    @media (min-width: $md6+px) {
      font-size: 28px;
      margin-bottom: 10px;
    }
    @media (min-width: $md5+px) {
      font-size: 34px;
    }
    @media (min-width: $md4+px) {
      line-height: 1.25;
    }
    @media (min-width: $md2+px) {
      font-size: 42px;
    }
    @media (min-width: $md1+px) {
      font-size: 48px;
    }
  }
  // .solution-slider__text
  &__text {
    display: none;
    @media (min-width: $md5+px) {
      display: block;
      font-size: 14px;
      line-height: 1.5;
      font-weight: 300;
      color: darken($white, 30%);
    }
    @media (min-width: $md5+px) {
      font-size: 16px;
    }
  }
  // .solution-slider__btn-wrapper
  &__btn-wrapper {
    // width: 100%;
    display: flex;
    // justify-content: space-between;
    margin: 0 -8px;
    @media (min-width: $md4+px) {
      // justify-content: flex-start;
    }
  }
  // .solution-slider__btn
  &__btn {
    flex-basis: 100%;
    margin: 0 8px;
    text-transform: uppercase;
    @media (min-width: $md3+px) {
      max-width: 140px;
    }
  }
  // .solution-slider__pagination
  &__pagination {
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 80px;
    // width: 100%;
    height: 140px;
    counter-reset: item;
    transition: all 0.3s linear;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $white;
      transform: translateY(-50%);
    }
    @media (min-width: $md5+px) {
      margin-bottom: 15px;
    }
    @media (min-width: $md4+px) {
      margin-bottom: 20px;
    }
    @media (min-width: $md3+px) {
      margin-bottom: 25px;
    }
    @media (max-width: $md2+px) {
      justify-content: flex-start;
      padding: 0 50px;
    }
    @media (min-width: $md1+px) {
      margin-bottom: 40px;
    }
  }
  // .solution-slider__pagination-bullet
  &__pagination-bullet {
    flex-shrink: 0;
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background-color: $brand;
    border-radius: 50%;
    transition: border-color 0.3s ease 0s;
    border: 2px solid transparent;
    cursor: pointer;

    //*counter
    &::before {
      content: '';
      position: absolute;
      top: -25px;
      left: 50%;
      counter-increment: item;
      content: '0' counter(item);
      transform: translateX(-50%);
      color: darken($white, 50%);
      font-size: 10px;
      font-weight: 700;
    }

    //*solutions name-list
    &::after {
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
      color: $white;
      font-size: 16px;
      line-height: 2.5;
      font-weight: 700;
      white-space: nowrap;
      @media (max-width: $md2+px) {
        display: flex;
        align-items: flex-start;
        height: 30px;
        font-size: 12px;
        line-height: 1.3;
        white-space: normal;
      }
    }
    &:nth-child(1n) {
      &::after {
        content: 'СЭД';
      }
    }
    &:nth-child(2n) {
      &::after {
        content: 'Мониторинг транспорта';
      }
    }
    &:nth-child(3n) {
      &::after {
        content: 'Такси';
      }
    }
    &:nth-child(4n) {
      &::after {
        content: 'Активный гражданин';
      }
    }
    &:nth-child(5n) {
      &::after {
        content: 'ГБО';
      }
    }
    &:nth-child(6n) {
      &::after {
        content: 'ДРСУ';
      }
    }

    //*точка в круге
    span {
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        background-color: $white;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-active {
      border: 2px solid darken($white, 30%);
    }
    @media (max-width: $md2+px) {
      margin-right: 120px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
