@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,700&display=swap&subset=cyrillic-ext);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Inter";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scale {
  0% {
    opacity: 0.7;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes scale {
  0% {
    opacity: 0.7;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0px 0px;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  white-space: nowrap;
  overflow: hidden;
}

.btn::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 80%;
  background-color: #ffffff;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
}

.btn--xs {
  padding: 16px 24px;
  font-size: 10px;
  line-height: 1;
  font-weight: 700;
}

.btn--md {
  padding: 24px 32px;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
}

.btn--lg {
  padding: 32px 40px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.btn--bg-brand {
  color: #ffffff;
  background-color: #1e468a;
}

.btn--bg-brand:hover {
  background-color: #153160;
}

.btn--bg-white {
  color: #1e468a;
  background-color: #ffffff;
}

.btn--bg-white::after {
  background-color: #1e468a;
}

.btn--bg-white:hover {
  background-color: #e6e6e6;
}

.btn--bg-transparent {
  color: #ffffff;
  background-color: transparent;
  outline: 1px solid #ffffff;
  outline-offset: -1px;
}

.btn--bg-transparent:hover {
  outline-color: #e6e6e6;
}

.btn--border-brand {
  border: 1px solid #1e468a;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.header--fixed {
  background-color: #fff;
}

.header--fixed .header__content {
  border-bottom: 0;
}

.header--fixed .logo path {
  fill: #1e468a;
}

.header--fixed .header__trigger span {
  background-color: #1e468a;
}

.header--fixed .header__trigger span::before,
.header--fixed .header__trigger span::after {
  background-color: #1e468a;
}

.header--fixed .header-nav__item {
  color: #1a1b1f;
}

.header--fixed .header-nav__item:hover {
  color: #494b56;
}

.header--fixed .contacts-menu__item {
  color: #1a1b1f;
}

.header--fixed .contacts-menu__item:hover {
  color: #494b56;
}

.header--fixed .contacts-menu__item--phone {
  color: #1e468a;
}

.header--fixed.active .logo path {
  fill: #ffffff;
}

.header--fixed.active .header__trigger span::before,
.header--fixed.active .header__trigger span::after {
  background-color: #ffffff;
}

.header--hide {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header__content {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #4d4d4d;
}

.header__logo {
  margin-right: 127px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0px auto;
}

.header__dropdown {
  display: none;
}

.header__dropdown .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__dropdown .header-nav__item {
  color: #ffffff;
}

.header__dropdown .header-nav__item:hover {
  color: #cccccc;
}

.header__dropdown .contacts-menu__item {
  color: #ffffff;
}

.header__dropdown .contacts-menu__item:hover {
  color: #cccccc;
}

.header__dropdown .contacts-menu__item--popup {
  color: #999999;
}

._no-webp .header__dropdown-inner{
  background-image: url("../img/hero-img-1.jpg"); }

.header__dropdown-inner {
  width: 100%;
  height: 100%;
  max-width: 392px;
  padding: 80px 30px 0;
  background-color: #1e468a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__dropdown-menu {
  height: 100%;
  overflow-y: auto;
}

.header__trigger {
  display: none;
}

.logo path {
  -webkit-transition: fill 0.2s ease;
  -o-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
  fill: white;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -16px;
}

.header-nav__item {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0px 16px;
  color: #ffffff;
  -webkit-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
  white-space: nowrap;
}

.header-nav__item:hover {
  color: #cccccc;
}

.header-nav__link {
  color: inherit;
}

.contacts-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -16px;
}

.contacts-menu__item {
  padding: 0px 16px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
  white-space: nowrap;
}

.contacts-menu__item:hover {
  color: #cccccc;
}

.contacts-menu__item--popup {
  font-weight: 500;
  color: #999999;
}

.contacts-menu__item--popup:hover {
  color: #ffffff;
}

.contacts-menu__link {
  color: inherit;
}

.footer__content {
  background-color: #1a1b1f;
}

.footer__row {
  padding: 45px 0;
}

.footer__row--bg-grey {
  background-color: #3b3b3b;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1480px;
  margin: 0 auto;
}

.footer__wrapper--pos-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.footer__link {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  color: #b3b3b3;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 16px;
  white-space: nowrap;
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__link--general {
  position: relative;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 3%;
  text-transform: uppercase;
  margin-bottom: 45px;
  padding-bottom: 45px;
}

.footer__rights {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #999999;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__contacts {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3%;
  color: #ffffff;
}

.footer__ask-form {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3%;
  color: #999999;
  text-transform: uppercase;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__history {
  min-height: 100vh;
}

.page__sertification {
  padding-top: 118px;
  padding-bottom: 64px;
}

._no-webp .hero-section{
  background-image: url("../img/hero-img-5.jpg"); }

.hero-section {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 380px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding-bottom: 24px;
}

.hero-section .bg--cross-grid::before {
  top: 154px;
  right: 14px;
}

.hero-section__inner {
  position: relative;
  z-index: 1;
  width: 100%;
}

.hero-section__title {
  max-width: 950px;
  font-size: 88px;
  font-weight: 700;
  line-height: 94px;
  color: #ffffff;
  margin-left: 0;
  margin-bottom: 64px;
}

.hero-section__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

.hero-section__btn {
  margin: 0 20px;
}

.hero-section__tip {
  position: absolute;
  right: 106px;
  bottom: 0;
  color: #ffffff;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
}

.tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tip__text {
  margin: 0px 0px 0px 16px;
}

.offer-block {
  position: relative;
}

.offer-block__title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}

.offer-block__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer-block__text {
  font-size: 16px;
  line-height: 2;
  font-weight: 300;
  color: #b3b3b3;
  margin-bottom: 54px;
}

._no-webp .philosophy-section{
  background: url("../img/philosophy-bg.jpg") 0 0/cover no-repeat; }

.philosophy-section {
  position: relative;
}

.philosophy-section__content {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 104px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
}

.philosophy-section__info {
  margin-bottom: 24px;
}

.philosophy-section__note {
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  color: #ffffff;
  margin-bottom: 18px;
}

.philosophy-section__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}

.nav-philosophy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -5px;
  margin-bottom: -5px;
}

.nav-philosophy__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 24px;
  height: 230px;
  outline: 1px solid #333333;
}

.nav-philosophy__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/grid.svg);
  background-repeat: repeat;
  background-position: 0 0;
  background-color: #1e468a;
  background-size: 40px;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: -1;
  opacity: 0;
}

.nav-philosophy__item.active::after {
  opacity: 1;
}

.nav-philosophy__item.active .nav-philosophy__text-wrapper {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.nav-philosophy__item.active .nav-philosophy__text {
  display: block;
}

.nav-philosophy__item.active .nav-philosophy__button span {
  width: 20px;
}

.nav-philosophy__item.active .nav-philosophy__button span::before {
  -webkit-transform: translate(0px, 3px) rotate(-135deg);
      -ms-transform: translate(0px, 3px) rotate(-135deg);
          transform: translate(0px, 3px) rotate(-135deg);
}

.nav-philosophy__item.active .nav-philosophy__button span::after {
  -webkit-transform: translate(0px, -3px) rotate(135deg);
      -ms-transform: translate(0px, -3px) rotate(135deg);
          transform: translate(0px, -3px) rotate(135deg);
}

.nav-philosophy__button-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 10px;
}

.nav-philosophy__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #ffffff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-philosophy__button span {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 0;
  -webkit-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.nav-philosophy__button span::before,
.nav-philosophy__button span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffffff;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.nav-philosophy__button span::before {
  top: -3px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.nav-philosophy__button span::after {
  top: 3px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.nav-philosophy__text-wrapper {
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.nav-philosophy__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
}

.nav-philosophy__text {
  display: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #b3b3b3;
}

.mission-section__content {
  padding-top: 36px;
  padding-bottom: 70px;
}

.mission-section__text-wrapper {
  margin-bottom: 36px;
}

.mission-section__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 34px;
}

.mission-section__btn-wrapper {
  text-transform: uppercase;
}

.mission-section__btn {
  width: 100%;
}

.review-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.review-block__text {
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #606372;
  margin-bottom: 34px;
  padding-left: 16px;
  padding-right: 16px;
}

.review-block__text::before,
.review-block__text::after {
  color: #1a1b1f;
}

.review-block__text::before {
  content: "<";
  position: absolute;
  top: 0;
  left: 0;
}

.review-block__text::after {
  content: "/>";
  position: absolute;
  right: 0;
  bottom: 0;
}

.review-block__autor {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.autor-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.autor-block__img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 24px;
}

.autor-block__autor-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.autor-block__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 2;
  white-space: nowrap;
}

.autor-block__position {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  font-size: 12px;
  line-height: 1.33;
  color: #9397a5;
}

.history-section {
  background-color: #1e468a;
}

.history-section__slider {
  position: relative;
}

.slider-history {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider-history__static-block {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 32px 20px;
}

.slider-history__date-block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider-history__heading {
  position: relative;
  font-size: 127px;
  font-weight: 700;
  color: #ffffff;
  z-index: 2;
}

.slider-history__pagination {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  position: absolute;
  left: 0;
  bottom: -45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 20px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  counter-reset: year 1991;
}

.slider-history__pagination::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
}

.slider-history__pagination-bullet {
  position: relative;
  width: 4px;
  height: 16px;
  background-color: #ffffff;
}

.slider-history__pagination-bullet::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 50%;
  counter-increment: year;
  content: counter(year);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: gray;
  font-size: 10px;
  font-weight: 700;
}

.slider-history__pagination-bullet-active {
  background-color: #e626d6;
}

.slider-history__btn-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  z-index: 2;
}

.slider-history__btn {
  cursor: pointer;
}

.slider-history__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.slider-history__bg-block {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center;
}

._no-webp .slider-history__bg-block--1{
  background-image: url(../img/bg-history-1.jpg); }

._no-webp .slider-history__bg-block--2{
  background-image: url(../img/bg-history-2.jpg); }

._no-webp .slider-history__bg-block--3{
  background-image: url(../img/bg-history-3.jpg); }

.slider-history__text-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 52px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 52px;
}

.slider-history__text {
  max-width: 450px;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.sertification-section__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.sertification-section__note {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  color: #1e468a;
  margin-bottom: 38px;
}

.sertification-section__title {
  font-size: 48px;
  line-height: 1.15;
  font-weight: 700;
  color: #1a1b1f;
  max-width: 1070px;
  margin-bottom: 60px;
}

.sertification-section__slider {
  position: relative;
}

.sertification-section__slide {
  overflow: hidden;
}

.sertification-section__slide img {
  display: block;
  max-width: 100%;
  max-height: 468px;
}

.sertification-section__btn-wrapper {
  position: absolute;
  z-index: 2;
  top: -110px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sertification-section__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  height: 41px;
  border: 1px solid #1e468a;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sertification-section__btn:first-child {
  border-right: 1px solid transparent;
}

.sertification-section__btn span {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 1px;
}

.sertification-section__btn span::before,
.sertification-section__btn span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1e468a;
}

.sertification-section__btn span::before {
  top: -5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sertification-section__btn span::after {
  top: 5px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sertification-section__btn--prev span {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.bg::before {
  content: "";
  position: absolute;
  z-index: -2;
}

.bg--grid::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/grid.svg);
  background-repeat: repeat;
  background-position: center top;
  background-size: 40px 40px;
  z-index: -2;
}

.bg--cross-grid::before {
  top: 155px;
  right: -26px;
  width: 610px;
  height: 690px;
  background-image: url(../img/cross.svg);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 40px 40px;
  z-index: -1;
}

.background-block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
}

.background-block__inner {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.solution-slider {
  position: relative;
  z-index: 1;
  background-color: #1e468a;
}

.solution-slider__content {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-top: 100px;
  padding-right: 32px;
  padding-bottom: 140px;
  padding-left: 32px;
}

.solution-slider__content::before {
  content: "";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 340px;
}

.solution-slider__content--bg-sheets::before {
  background-image: url(../img/solutions-sheet.svg);
}

.solution-slider__content--bg-taxi::before {
  background-image: url(../img/solutions-taxi.svg);
}

.solution-slider__content--bg-ag::before {
  background-image: url(../img/solutions-ag.svg);
}

.solution-slider__content--bg-map::before {
  background-image: url(../img/solutions-map.svg);
}

.solution-slider__promo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
          transform: translateY(-25px);
}

.solution-slider__text-wrapper {
  margin-bottom: 24px;
}

.solution-slider__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}

.solution-slider__text {
  display: none;
}

.solution-slider__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -8px;
}

.solution-slider__btn {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 8px;
  text-transform: uppercase;
}

.solution-slider__pagination {
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding: 0 80px;
  height: 140px;
  counter-reset: item;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.solution-slider__pagination::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.solution-slider__pagination-bullet {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #1e468a;
  border-radius: 50%;
  -webkit-transition: border-color 0.3s ease 0s;
  -o-transition: border-color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s;
  border: 2px solid transparent;
  cursor: pointer;
}

.solution-slider__pagination-bullet::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 50%;
  counter-increment: item;
  content: "0" counter(item);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: gray;
  font-size: 10px;
  font-weight: 700;
}

.solution-slider__pagination-bullet::after {
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
  font-size: 16px;
  line-height: 2.5;
  font-weight: 700;
  white-space: nowrap;
}

.solution-slider__pagination-bullet:nth-child(1n)::after {
  content: "СЭД";
}

.solution-slider__pagination-bullet:nth-child(2n)::after {
  content: "Мониторинг транспорта";
}

.solution-slider__pagination-bullet:nth-child(3n)::after {
  content: "Такси";
}

.solution-slider__pagination-bullet:nth-child(4n)::after {
  content: "Активный гражданин";
}

.solution-slider__pagination-bullet:nth-child(5n)::after {
  content: "ГБО";
}

.solution-slider__pagination-bullet:nth-child(6n)::after {
  content: "ДРСУ";
}

.solution-slider__pagination-bullet span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.solution-slider__pagination-bullet-active {
  border: 2px solid #b3b3b3;
}

@media (min-width: 375px) {
  .mission-section__title {
    font-size: 25px;
  }

  .review-block__text {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .solution-slider__promo {
    -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
            transform: translateY(-30px);
  }

  .solution-slider__title {
    font-size: 25px;
  }
}

@media (min-width: 480px) {
  .hero-section {
    min-height: 400px;
    padding-bottom: 40px;
  }

  .solution-slider__content::before {
    height: 485px;
  }

  .solution-slider__promo {
    -webkit-transform: translateY(-35px);
        -ms-transform: translateY(-35px);
            transform: translateY(-35px);
  }

  .solution-slider__text-wrapper {
    max-width: 340px;
  }

  .solution-slider__title {
    font-size: 28px;
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) {
  .nav-philosophy__list {
    margin-right: -5px;
    margin-left: -5px;
  }

  .nav-philosophy__item {
    -ms-flex-preferred-size: calc(50% - 10px);
        flex-basis: calc(50% - 10px);
    margin-right: 5px;
    margin-left: 5px;
  }

  .solution-slider__promo {
    -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
            transform: translateY(-40px);
  }

  .solution-slider__text-wrapper {
    max-width: 400px;
  }

  .solution-slider__title {
    font-size: 34px;
  }

  .solution-slider__text {
    display: block;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    color: #b3b3b3;
  }

  .solution-slider__text {
    font-size: 16px;
  }

  .solution-slider__pagination {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .header__dropdown .contacts-menu {
    display: none;
  }

  .hero-section {
    min-height: 610px;
    padding-bottom: 80px;
  }

  .philosophy-section__content {
    padding-top: 96px;
    padding-bottom: 56px;
  }

  .philosophy-section__info {
    margin-bottom: 40px;
  }

  .philosophy-section__title {
    font-size: 32px;
  }

  .nav-philosophy__list {
    margin-top: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    margin-left: -8px;
  }

  .nav-philosophy__item {
    -ms-flex-preferred-size: calc(33.33% - 16px);
        flex-basis: calc(33.33% - 16px);
    height: 232px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
  }

  .mission-section__content {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .mission-section__text-wrapper {
    margin-bottom: 46px;
  }

  .mission-section__title {
    font-size: 32px;
    line-height: 1.25;
  }

  .review-block__text {
    margin-bottom: 26px;
  }

  .solution-slider__content {
    padding-top: 120px;
  }

  .solution-slider__content::before {
    height: 645px;
  }

  .solution-slider__promo {
    -webkit-transform: translateY(-45px);
        -ms-transform: translateY(-45px);
            transform: translateY(-45px);
  }

  .solution-slider__text-wrapper {
    max-width: 480px;
  }

  .solution-slider__title {
    line-height: 1.25;
  }

  .solution-slider__pagination {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .solution-slider__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 160px;
  }

  .solution-slider__content::before {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 485px;
  }

  .solution-slider__promo {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .solution-slider__btn {
    max-width: 140px;
  }

  .solution-slider__pagination {
    margin-bottom: 25px;
  }
}

@media (min-width: 1024px) {
  .hero-section {
    min-height: 768px;
  }

  .philosophy-section__title {
    max-width: 720px;
  }

  .nav-philosophy__item {
    -ms-flex-preferred-size: calc(25% - 16px);
        flex-basis: calc(25% - 16px);
  }

  .mission-section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 1000px;
  }

  .mission-section__text-wrapper {
    max-width: 400px;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .mission-section__title {
    margin-bottom: 48px;
  }

  .mission-section__btn {
    max-width: 140px;
  }

  .mission-section__review {
    max-width: 400px;
    margin-left: 30px;
  }

  .slider-history__slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .slider-history__text-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .solution-slider__text-wrapper {
    max-width: 510px;
  }

  .solution-slider__title {
    font-size: 42px;
  }
}

@media (min-width: 1400px) {
  .hero-section {
    padding-bottom: 120px;
  }

  .philosophy-section__content {
    padding-top: 118px;
    padding-bottom: 160px;
  }

  .philosophy-section__info {
    margin-bottom: 85px;
  }

  .philosophy-section__note {
    font-size: 16px;
    line-height: 1.5;
  }

  .philosophy-section__title {
    font-size: 48px;
    max-width: 1070px;
  }

  .nav-philosophy__list {
    margin-top: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    margin-left: -20px;
  }

  .nav-philosophy__item {
    height: 328px;
    -ms-flex-preferred-size: calc(25% - 40px);
        flex-basis: calc(25% - 40px);
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .mission-section__content {
    max-width: 1200px;
    padding-top: 104px;
    padding-bottom: 104px;
  }

  .mission-section__text-wrapper {
    margin-right: 125px;
    max-width: 600px;
  }

  .mission-section__review {
    margin-left: 125px;
    max-width: 420px;
  }

  .slider-history__heading {
    font-size: 430px;
  }

  .solution-slider__content {
    max-width: calc(1440px + 64px);
    margin: 0 auto;
    padding-bottom: 200px;
  }

  .solution-slider__content::before {
    height: 555px;
  }

  .solution-slider__text-wrapper {
    max-width: 580px;
  }

  .solution-slider__title {
    font-size: 48px;
  }

  .solution-slider__pagination {
    margin-bottom: 40px;
  }
}

@media (min-width: 1920px) {
  .solution-slider__content::before {
    height: 680px;
  }
}

@media (max-width: 1500px) {
  ._container {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (max-width: 1400px) {
  .bg--grid::before {
    background-position: right top;
  }

  .bg--cross-grid::before {
    right: 34px;
  }
}

@media (max-width: 1325px) {
  .header__logo {
    margin-right: 40px;
  }
}

@media (max-width: 1200px) {
  .header-nav__item {
    padding: 0 8px;
  }

  .contacts-menu__item {
    padding: 0 8px;
  }
}

@media (max-width: 1080px) {
  .contacts-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .contacts-menu__item:first-child {
    margin-bottom: 3px;
  }
}

@media (max-width: 1024px) {
  .btn::after {
    width: 90%;
  }

  .header__content {
    height: 60px;
  }

  .header__logo {
    position: relative;
    z-index: 2;
    margin-right: 75px;
  }

  .header__dropdown {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.609);
  }

  .header__dropdown.active {
    display: block;
  }

  .header__dropdown .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-height: 100%;
    margin: 0;
  }

  .header__dropdown .header-nav__item {
    font-size: 16px;
    line-height: 20px;
    padding: 17px 0;
  }

  .header__trigger {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 34px;
    height: 16px;
    background: 0 0;
    border: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .header__trigger span {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 2px;
    vertical-align: bottom;
    background-color: #fff;
    -webkit-transition: background-color 0.3s 0.5s;
    -o-transition: background-color 0.3s 0.5s;
    transition: background-color 0.3s 0.5s;
  }

  .header__trigger span::after,
  .header__trigger span::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s;
    transition: top 0.3s 0.3s, -webkit-transform 0.3s;
    -o-transition: top 0.3s 0.3s, transform 0.3s;
    transition: top 0.3s 0.3s, transform 0.3s;
    transition: top 0.3s 0.3s, transform 0.3s, -webkit-transform 0.3s;
  }

  .header__trigger span::before {
    top: 7px;
  }

  .header__trigger span::after {
    top: -7px;
  }

  .header__trigger.active span {
    background: 0 0;
  }

  .header__trigger.active span::before,
  .header__trigger.active span::after {
    top: 0;
    -webkit-transition: top 0.3s, -webkit-transform 0.3s 0.5s;
    transition: top 0.3s, -webkit-transform 0.3s 0.5s;
    -o-transition: top 0.3s, transform 0.3s 0.5s;
    transition: top 0.3s, transform 0.3s 0.5s;
    transition: top 0.3s, transform 0.3s 0.5s, -webkit-transform 0.3s 0.5s;
  }

  .header__trigger.active span::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
  }

  .header__trigger.active span::after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
  }

  .header-nav {
    display: none;
  }

  .contacts-menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts-menu__item:first-child {
    margin-bottom: 0;
  }

  .contacts-menu__item--phone {
    font-size: 16px;
    line-height: 19px;
  }

  .contacts-menu__item--popup {
    font-size: 12px;
    letter-spacing: normal;
  }

  .hero-section__title {
    font-size: 64px;
    line-height: 1;
    max-width: 635px;
  }

  .hero-section__btn {
    height: 56px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .hero-section__tip {
    right: 46px;
  }

  .offer-block__text {
    line-height: 1.5;
    margin-bottom: 42px;
  }

  .bg--grid::before {
    background-size: 30px 30px;
  }

  .bg--cross-grid::before {
    top: 86px;
    right: 23px;
    width: 460px;
    height: 520px;
    background-size: 30px 30px;
  }

  .solution-slider__pagination {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 50px;
  }

  .solution-slider__pagination-bullet::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 30px;
    font-size: 12px;
    line-height: 1.3;
    white-space: normal;
  }

  .solution-slider__pagination-bullet {
    margin-right: 120px;
  }

  .solution-slider__pagination-bullet:last-child {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .header__dropdown .contacts-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header__dropdown .contacts-menu__item {
    display: block;
  }

  .contacts-menu__item--popup {
    display: none;
  }

  .hero-section__title {
    font-size: 50px;
    max-width: 535px;
    margin-bottom: 54px;
  }

  .hero-section__btn {
    width: 100%;
  }

  .hero-section__tip {
    right: 0;
    bottom: 100px;
  }

  .offer-block__title {
    max-width: 470px;
    margin-bottom: 38px;
  }

  .offer-block__text {
    max-width: 470px;
    margin-bottom: 30px;
  }

  .bg--grid::before {
    background-size: 40px 40px;
  }

  .bg--cross-grid::before {
    top: 115px;
    right: 74px;
    width: 610px;
    height: 690px;
    background-size: 40px 40px;
  }
}

@media (max-width: 625px) {
  .header__logo {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .hero-section__title {
    font-size: 40px;
    max-width: 400px;
    margin-bottom: 36px;
  }

  .hero-section__tip {
    display: none;
  }
}

@media (max-width: 576px) {
  .header__logo {
    margin-right: 18px;
  }

  .header__trigger {
    width: 25px;
  }

  .contacts-menu__item--phone {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 480px) {
  .header__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contacts-menu {
    display: none;
  }
}

@media (max-width: 460px) {
  .hero-section__title {
    font-size: 38px;
    max-width: 100%;
  }
}

@media (max-width: 375px) {
  .hero-section__title {
    font-size: 30px;
  }

  .offer-block__title {
    font-size: 25px;
    line-height: 1.2;
  }

  .offer-block__text {
    display: none;
  }

  .bg--grid::before {
    background-size: 20px 20px;
  }

  .bg--cross-grid::before {
    right: 50%;
    width: 305px;
    height: 345px;
    background-size: 20px 20px;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }
}

._webp .header__dropdown-inner{ background-image: url(../img/hero-img-1.webp); }

._webp .hero-section{ background-image: url(../img/hero-img-5.webp); }

._webp .philosophy-section{ background: url(../img/philosophy-bg.webp) 0 0/cover no-repeat; }

._webp .slider-history__bg-block--1{ background-image: url(../img/bg-history-1.webp); }

._webp .slider-history__bg-block--2{ background-image: url(../img/bg-history-2.webp); }

._webp .slider-history__bg-block--3{ background-image: url(../img/bg-history-3.webp); }