.integrating {
  // .integrating__item
  &__item {
    position: relative;
    background-color: $brand;
    @media (min-width: $md4) {
      padding-top: 95px;
    }
    @media (min-width: $md3) {
      padding-top: 110px;
    }
    @media (min-width: $md1) {
      padding-top: 130px;
    }
    &--bgc-grey {
      background-color: #7c889d;
    }
    &--reverse {
      .integrating__item-inner {
        @media (min-width: $md2) {
          justify-content: flex-end;
          &::before {
            left: 32px;
            right: unset;
            background-position: center left;
          }
        }
      }
    }
  }

  // .integrating__item-inner
  &__item-inner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding-top: 70px;
    padding-bottom: 50px;
    &::before {
      content: '';
      display: block;
      height: 400px;
      background-image: url(../img/sheets-integrating.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      opacity: 0.5;
      @media (min-width: $md4) {
        position: absolute;
        top: 0;
        right: 32px;
        height: 454px;
        width: 351px;
        background-position: center right;
      }
      @media (min-width: $md2) {
        height: 507px;
        width: 392px;
      }
      @media (min-width: $md1) {
        height: 746px;
        width: 577px;
      }
    }
    @media (min-width: $md5) {
      padding-top: 80px;
      padding-bottom: 60px;
    }
    @media (min-width: $md4) {
      padding-bottom: 105px;
      flex-direction: row;
    }
    @media (min-width: $md3) {
      padding-bottom: 95px;
    }
    @media (min-width: $md1) {
      padding-bottom: 125px;
    }
  }

  // .integrating__content
  &__content {
    @media (min-width: $md2) {
      width: 50%;
      margin-left: 80px;
    }
    @media (min-width: $md1) {
      margin-left: 247px;
    }
  }

  // .integrating__title
  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    color: $white;
    margin-bottom: 30px;
    max-width: 440px;
    @media (min-width: $md7) {
      margin-bottom: 34px;
    }
    @media (min-width: $md5) {
      margin-bottom: 48px;
    }
    @media (min-width: $md4) {
      font-size: 32px;
      margin-bottom: 96px;
    }
    @media (min-width: $md3) {
      margin-bottom: 40px;
    }
    @media (min-width: $md2) {
      max-width: none;
    }
    @media (min-width: $md1) {
      max-width: 700px;
      margin-bottom: 68px;
      font-size: 48px;
      line-height: 1.15;
    }
  }
}

/* Text-integrating */
.text-integrating {
  // .text-integrating__title
  &__title {
    font-size: 16px;
    font-weight: 700;
    color: $white;
    margin-bottom: 10px;
    @media (min-width: $md7) {
      margin-bottom: 14px;
    }
    @media (min-width: $md4) {
      font-size: 18px;
    }
  }

  // .text-integrating__text
  &__text {
    @media (min-width: $md6) {
      display: flex;
      margin: 0 -10px;
    }
    @media (min-width: $md1) {
      margin: 0 -20px;
    }
  }

  // .text-integrating__column
  &__column {
    @media (min-width: $md6) {
      flex-basis: 50%;
      padding: 0 10px;
    }
    @media (min-width: $md1) {
      padding: 0 20px;
    }
    p {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 400;
      color: $white;
      margin-top: 6px;
      margin-bottom: 6px;
      @media (min-width: $md7) {
        margin-top: 8px;
        margin-bottom: 8px;
      }
      @media (min-width: $md4) {
        font-size: 16px;
      }
    }
  }
}

/* Partners */
.partners {
  padding-top: 40px;
  padding-bottom: 40px;
  @media (min-width: $md4) {
    padding-top: 67px;
    padding-bottom: 67px;
  }
  @media (min-width: $md2) {
    padding-top: 76px;
    padding-bottom: 83px;
  }

  // .partners__title
  &__title {
    font-size: 32px;
    font-weight: 700;
    color: $black;
    margin-bottom: 34px;
    text-align: center;
    @media (min-width: $md4) {
      margin-bottom: 40px;
    }
    @media (min-width: $md2) {
      margin-bottom: 48px;
    }
  }

  // .partners__list
  &__list {
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    @media (min-width: $md7) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
    }
    @media (min-width: $md5) {
      column-gap: 20px;
    }
    @media (min-width: $md4) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: $md2) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

/* Item-partners */
.item-partners {
  position: relative;
  height: 100%;
  padding: 10px 8px;
  text-align: center;

  // .item-partners__image
  &__image {
    position: relative;
    display: block;
    height: 80px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 24px;
      height: 1px;
      background-color: $black;
      transform: translateX(-50%);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .item-partners__name
  &__name {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
  }

  // .item-partners__link
  &__link {
    color: inherit;
    outline: none;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: box-shadow 0.1s linear;
    }
    &:hover {
      &::before {
        box-shadow: 0px 0px 3px 4px #dcdcdc;
      }
    }
    &:focus-visible {
      &::before {
        outline: 3px solid $accent;
      }
    }
  }
}
