/* Variables */
@import '_vars';

/* Mixins */
@import '_mixins';

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,700&display=swap&subset=cyrillic-ext);

/* Deafault font */
$fontFamily: 'Inter';
$fontSize: 16;

/* Breakpoints */
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1504px;

$md1: 1400px;
$md2: 1024px;
$md3: 992px;
$md4: 768px;
$md5: 576px;
$md6: 480px;
$md7: 375px;

/* Main color */
$mainColor: #000;

/* Null */
@import '_null';

/* Body default settings */
body {
  color: $mainColor;
  &._lock {
    overflow: hidden;
  }
}

/* Wrapper */
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Container */
.container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: $md5) {
    padding-left: 32px;
    padding-right: 32px;
  }
  &--sm {
    max-width: 1014px;
  }
}

/* Components */
@import '_tipography';
@import './components/slider-button';
@import './components/background-grid';
@import './components/tip';
@import './components/address';
@import './components/requisites';
@import './components/accordeon';
@import './components/buttons';
@import './components/forms';

/* Blocks */
@import '_header';
@import '_footer';
@import './page-blocks/hero-block';
@import './page-blocks/philosophy-block';
@import './page-blocks/mission-block';
@import './page-blocks/history-block';
@import './page-blocks/philosophy-block';
@import './page-blocks/solutions-main-block';
@import './page-blocks/sertification-block';
@import './page-blocks/questions-block';
@import './page-blocks/review-block';
@import './page-blocks/select-solution-menu-block';

/* Pages */
@import 'integrating-page';
@import 'solution-page';

/* Main block */
.page {
  flex: 1 1 auto;
  &__slider-solution {
    padding-top: 100px;
    padding-bottom: 30px;
    @media (min-width: $md4) {
      padding-top: 120px;
      padding-bottom: 36px;
    }
    // @media (min-width: $md3) {
    //   padding-bottom: 160px;
    // }
    @media (min-width: $md1) {
      // padding-bottom: 200px;
      padding-bottom: 84px;
    }
  }
  &__sertification {
    padding-top: 104px;
    padding-bottom: 50px;
    @media (min-width: $md4) {
      padding-top: 64px;
      padding-bottom: 72px;
    }
    @media (min-width: $md3) {
      padding-bottom: 80px;
    }
  }
}
